@media (max-width: 1240px) {
[class*=__container] {
	max-width: 728px;
	}

.tablet-br {
	display: block !important;
	}

.rating { 
	margin: 0 0 40px;
	}

.big-title br { 
	display: none;
	}

.title { 
	margin: 0 0 15px;
	}

.title br { 
	display: none;
	}

.integration__btn-panel { 
	padding: 0 0 0 14px;
	}

.integration {
	padding: 111px 0 100px;
	}

.integration__big-title { 
 	margin: 0 0 15px;
 	}

.integration__list { 
	margin: 0 0 30px;
	}

.connection {
	padding: 80px 0 0;
	}

.connection__col {
	gap: 0 0;
	padding: 0;
	}

.connection__list { 
	margin: 0 0 30px;
	}

.connection__text { 
	margin: 0 0 30px;
	max-width: 300px;
	line-height: 18.9px;
	}

.connection__text br { 
	display: none;
	}

.connection__photo { 
	margin: 49px 0 108px 15px;
	max-width: 310px;
	height: 210px;
	}

.reviews-slider-wrap { 
	margin: 107px 0 0 17px;
	max-width: 310px;
	}

.reviews-slider-wrap:before { 
	width: 39px;
	height: 37px;
	right: 47px;
	top: -23px;
	}

.reviews-slider-wrap:after { 
	width: 33px;
	height: 32px;
	left: 33px;
	bottom: -14px;
	}

.reviews-slider .swiper-slide { 
	padding: 20px 14px 38px;
	}

.reviews-slider .swiper-button-next, 
.reviews-slider .swiper-button-prev { 
	width: 15px;
	height: 15px;
	top: auto;
	bottom: 45px;
	}

.reviews-slider .swiper-button-prev { 
	left: 10px;
	}

.reviews-slider .swiper-button-next { 
	right: 10px;
	}

.reviews-slider__photo { 
	margin: 0 0 2px;
	width: 27px;
	height: 27px;
	}

.reviews-slider__date { 
	margin: 0 0 7px;
	}

.reviews-slider p { 
	margin: 0 0 15px;
	}

.rate { 
	gap: 0 3px;
	}

.rate__stars { 
	gap: 0 3px;
	}

.rate__stars li { 
	width: 5px;
	}

.benefit { 
	padding: 80px 0 0;
	}

.info { 
	grid-template-columns: repeat(2, 1fr);
	gap: 10px 10px;
	}

.benefit__info:before { 
	top: 126px;
	bottom: auto;
	left: 307px;
	}

.info__item { 
	padding: 15px 16px 33px;
	}

.benefit__info .info__item { 
	padding-bottom: 52px;
	}

.reason__info .info__item { 
	padding: 15px 10px 33px 16px;
	min-height: auto;
	}

.info__title { 
	margin: 0 0 30px;
	}

.reason { 
	padding: 80px 0 0;
	}

.reason__info:before { 
	width: 131px;
	height: 245px;
	top: 113px;
	right: -20px;
	background: url(../img/src/reason__info-bg-tablet.png) center no-repeat;
  	background-size: 100%;
	}

.reason__info .info__item:nth-child(4) { 
	position: relative;
	z-index: 3;
	}

.info__tablet-hidden { 
	display: none;
	}

.cases { 
	padding: 81px 0 0;
	}

.cases__big-title { 
	margin: 0 0 74px;
	}

.mov-slider.swiper { 
	width: 530px;
	}

.mov-slider .swiper-slide { 
	padding: 19px 0 0;
	}

.mov-slider .swiper-slide-active { 
	padding: 0;
	}

.mov-slider__poster { 
	margin: 0 0 50px;
	height: 200px;
	}

.mov-slider .swiper-slide-active .mov-slider__poster { 
	margin: 0 0 30px;
	height: 240px;
	}

.mov-slider .swiper-slide-active .mov-slider__poster a:before { 
	background-size: 43px;
	}

.mov-slider .swiper-button-prev { 
	left: -5020px;
	}

.mov-slider .swiper-button-next { 
	right: -5020px;
	}

.partners { 
	padding: 80px 0 0;
	}

.partners__big-title { 
	margin: 0 0 66px;
	}

.partners__logo { 
	padding: 0 38px;
	height: 166px;
	}

.partners__logo img { 
	object-fit: contain;
	}

.tariffs { 
	padding: 82px 0 0;
	}

.tariffs__big-title { 
	margin: 0 0 63px;
	}

.big-title__tablet-hidden { 
	display: none;
	}

.tariffs__item { 
	padding: 15px;
	border-radius: 8px;
	}

.tariffs__price { 
	margin: 0;
	}

.tariffs__price span { 
	margin: 0 3px 0 0;
	font-size: 34px;
	line-height: 38px;
	}

.tariffs__price small { 
	font-size: 17px;
	line-height: 19px;
	}

.tariffs__name { 
	margin: 0 0 22px;
	font-size: 8px;
	text-transform: none;
	line-height: 9.67px;
	}

.tariffs__info-list { 
	margin: 0 0 22px;
	}

.tariffs__info-list .info-list__text:before { 
	margin: 0 9px 0 0;
	width: 9px;
	height: 6px;
	background-size: 100%;
	}

.tariffs__info-list > li { 
	padding: 11px 0;
	}

.tariffs__info-list .info-list__text { 
	font-size: 8px;
	line-height: 9.67px;
	}

.info-list__list { 
	padding: 7px 0 0;
	}

.info-list__list li { 
	margin: 0 0 2px;
	padding: 0 0 0 12px;
	font-size: 6px;
	line-height: 9.14px;
	}

.info-list__list li:before { 
	width: 2px;
	height: 2px;
	top: 6px;
	left: 6px;
	}

.info-list__icon { 
	width: 12px;
	}

.info-list__icons-panel { 
	gap: 7px 7px;
	padding: 6px 0 0 23px;
	}

.info-list__icon img { 
	width: 100%;
	}

.tariffs__btn { 
	padding: 9px 15px;
	max-width: 184px;
	min-width: auto;
	font-size: 9px;
	line-height: 12.9px;
	border-radius: 5px;
	}

.special-offer { 
	padding: 79px 0;
	}

.tariff { 
	padding: 30px 10px 58px;
	border-radius: 15px 15px 15px 0;
	box-shadow: 6px -6px 0 0 #40C9A4;
	}

.special-offer__title { 
	margin: 0 0 54px;
	}
}